<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://az204patrickfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0be49a2e-8088-4281-945c-1236598c6dd0/resourceGroups/az204patrickfunction/providers/Microsoft.Web/sites/az204patrickfunction</ResourceId>
    <UserName>$az204patrickfunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az204patrickfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>