<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0be49a2e-8088-4281-945c-1236598c6dd0/resourcegroups/az204containers/providers/Microsoft.ContainerRegistry/registries/UdemyWebApp20221209133659</ResourceId>
    <ResourceName>UdemyWebApp20221209133659</ResourceName>
    <ResourceGroup>az204containers</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://udemywebapp20221209133659.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>81137093-bc64-4f2b-839a-12fb31e24a3d</ProjectGuid>
  </PropertyGroup>
</Project>